<template>
  <div>
    <div class="list__content">
      <p class="list__return" @click="$router.push({ path: '/' })">
        <b-icon icon="arrow-left"></b-icon><b>Return to list</b>
      </p>
      <h3><b>Add New Link</b></h3>
      <b-form>
        <b-form-group id="input-group-2" label="Link Name:" label-for="input-2" class="mb-3">
          <b-form-input
              id="input-2"
              v-model="form.name"
              placeholder="Enter link name"
              required
          ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-3" label="Link Url:" label-for="input-3" class="mb-3">
          <b-form-input
              id="input-3"
              v-model="form.link"
              placeholder="Enter link url"
              required
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" id="submit" variant="primary" class="float-end" @click="addLink">ADD</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: function () {
    return {
      form: {
        name: '',
        link: ''
      },
    }
  },
  methods: {
    addLink() {

      event.preventDefault()

      var obj = {
        name: this.form.name,
        link: this.form.link,
        vote: 0,
      }

      var list = this.$store.state.linkList

      list.unshift(obj);

      this.$store.dispatch("updateLinkList", list);

      this.$bvToast.toast(this.form.name + ` added.`, {
        title: '',
        toaster: 'b-toaster-top-center',
        variant: 'success',
        solid: true,
      })

      this.form.name = '';
      this.form.link = '';

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.list__content .form-group label {
  text-align: left;
}

.list__return {
  cursor: pointer;
  text-align: left;
}
</style>
