<template>
  <div id="app">

    <div class="list__content">
      <div class="list list__new">
        <div class="list__item" id="add-new-link" @click="$router.push({ path: '/create-link' })">
          <div class="list__vote">
            <h2 class="title"><b>+</b></h2>
          </div>
          <div class="list__detail">
            <div class="detail">
              <h5 class="title"><b>SUBMIT A LINK</b></h5>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="list__filter">
        <select v-model="selected" @change="onChange($event)">
          <option disabled value="">Order By</option>
          <option v-for="option in options" v-bind:value="option.value" :key="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="list">
        <div class="list__item" v-for="item in linkList" :key="item.link">
          <div class="list__vote">
            <h2 class="title"><b>{{item.vote}}</b></h2>
            <h6 class="sub-title">POINTS</h6>
          </div>
          <div class="list__detail">
            <div class="detail">
              <h5 class="title"><b>{{item.name}}</b></h5>
              <a href="" class="link">({{item.link}})</a>
            </div>
            <div class="list__actions">
              <span class="list__vote__action" @click="upVote(item.link)">
                <b-icon icon="arrow-up"></b-icon>
                Up Vote
              </span>
              <span class="list__vote__action" @click="downVote(item.link)">
                <b-icon icon="arrow-down"></b-icon>
                Down Vote
              </span>
            </div>
          </div>
          <div class="list__remove" @click="confirm(item.link, item.name)">
          </div>
        </div>
      </div>
      <jw-pagination :items="localLinkList" :pageSize="5" @changePage="onChangePage"></jw-pagination>
    </div>

    <b-modal id="modal-1" ref="my-modal" title="Remove Link" @ok="removeList">
      <p class="my-4 text-center">Do you want to remove:</p>
      <h2 class="text-center">
        <b>{{removedName}}</b>
      </h2>
    </b-modal>

  </div>
</template>

<script>

export default {
  name: 'App',
  data: function () {
    return {
      linkList: [],
      localLinkList: this.$store.state.linkList,
      options: [
        { text: 'Most Voted(Z->A)', value: 'most' },
        { text: 'Less Votes(A->Z)', value: 'less' },
      ],
      selected: '',
      removedLink: null,
      removedName: '',
    }
  },
  methods: {
    onChange() {
      this.compare(this.localLinkList)
    },
    compare(list){
      function compare(a, b) {
        if (a.vote < b.vote)
          return -1;
        if (a.vote > b.vote)
          return 1;
        return 0;
      }
      list.sort(compare)

      if(this.selected === 'less'){
        this.localLinkList = list;
      }
      else {
        this.localLinkList = list.reverse();
      }

      this.$store.dispatch("updateLinkList", list);

    },
    confirm(link,name){
      this.$refs['my-modal'].show();
      this.removedLink = link;
      this.removedName = name;
    },
    removeList(){
      let link = this.removedLink;
      let list = [];

      for (let i in this.localLinkList) {
        if(this.localLinkList[i].link !== link){
          list.push(this.localLinkList[i])
        }
      }

      this.localLinkList = list;

      this.$bvToast.toast(this.removedName + ` removed.`, {
        title: '',
        toaster: 'b-toaster-top-center',
        variant: 'success',
        solid: true,
      })

      this.$store.dispatch("updateLinkList", list);

    },
    upVote(link){
      let list = [];

      for (let i in this.localLinkList) {
        if(this.localLinkList[i].link === link){
          this.localLinkList[i].vote = parseFloat(this.localLinkList[i].vote) + 1;
        }
        list.push(this.localLinkList[i])
      }

      this.localLinkList = list;

      this.$store.dispatch("updateLinkList", list);

      this.compare(list)

    },
    downVote(link){
      let list = [];

      for (let i in this.localLinkList) {
        if(this.localLinkList[i].link === link){
          this.localLinkList[i].vote = parseFloat(this.localLinkList[i].vote) - 1;
        }
        list.push(this.localLinkList[i])
      }

      this.localLinkList = list;

      this.$store.dispatch("updateLinkList", list);

      this.compare(list)
    },
    onChangePage(pageOfItems) {
      this.linkList = pageOfItems;
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.list__content {
  width: 450px;
  margin: auto;
}

.list {
  display: table;
  margin: auto;
  width: 100%;
}
.list__item {
  display: flex;
  padding: 16px 8px;
  border: 1px solid #fff;
  position: relative;
  margin: 20px 0;
}

.list__item:hover, .list__new .list__item{
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #979797;
}

.list__item:hover .list__remove {
  display: flex;
}

.list__vote {
  background-color: #ececec;
  width: 110px;
  height: 85px;
  border-radius: 5px;
  border: 1px solid #979797;
  color: #000000;
  margin-right: 8px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.list__vote .title {
  margin-bottom: 0;
}

.list__vote .sub-title {
  margin-top: 0;
}

.list__detail {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.list__detail .detail {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  margin-bottom: 16px;
}

.list__detail .detail .title {
  margin-bottom: 0;
  margin-top: 0;
}

.list__detail .link {
  color: #8f8f8f;
  font-size: 14px;
}

.list__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list__filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.list__remove {
  position: absolute;
  padding: 8px;
  border-radius: 100%;
  background-color: darkred;
  border: 3px solid white;
  float: left;
  color: white;
  right: 0;
  top:-16px;
  z-index: 1;
  font-size: 32px;
  line-height: 0;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}
.list__remove:before {
  content: '';
  height: 3px;
  width: 100%;
  background-color: white;
}

.list__new .list__detail{
  justify-content: center;
}

.list__new .list__item {
  margin: 0;
  cursor: pointer;
}

.list__vote__action {
  font-weight: bold;
  cursor: pointer;
}
</style>
