<template>
  <div id="app">

    <router-view></router-view>

  </div>
</template>

<script>

//import { mapGetters } from "vuex";

export default {
  name: 'App',
/*  computed: {
    ...mapGetters(["getLinks"])
  },
  created() {
    this.$store.dispatch("linkList");
  },*/
}
</script>

